@font-face {
    font-family: 'OpenDyslexicRegular';
    src: url('eot/OpenDyslexic-Regular.eot') format('embedded-opentype');
    src: url('otf/OpenDyslexic-Regular.otf') format('opentype'),
        url('woff/OpenDyslexic-Regular.woff') format('woff'),
        url('ttf/OpenDyslexic-Regular.ttf') format('truetype'),
        url('svg/OpenDyslexic-Regular.svg#opendyslexicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
