@font-face {
    font-family: 'open-dyslexic';
    src: url('eot/OpenDyslexic-Bold.eot') format('embedded-opentype');
    src: url('otf/OpenDyslexic-Bold.otf') format('opentype'),
        url('woff/OpenDyslexic-Bold.woff') format('woff'),
        url('ttf/OpenDyslexic3-Bold.ttf') format('truetype'),
        url('svg/OpenDyslexic-Bold.svg#opendyslexicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
